
<div class="container">

	<form action="#" id="bidForm" role="form">

		<div class="well clearfix">
			<div class="form-horizontal form-widgets col-lg-12">
				<fieldset>
					<legend>Item Information</legend>

					<div class="form-group">
						<label class="col-md-2 control-label" for="ProductName">Name</label>
						<div class="col-md-10">
							<input id="ProductName" type="text" class="k-content" required  kendo-auto-complete  k-options="ProductNameAutoCompleteOptions" />
							<script id="ProductNameAutoCompleteTemplate" type="text/x-kendo-template">
							<div class="row">
								<div class="col-md-2">
									<div><img src="#= galleryURL #" /></div>
								</div>
        						<div class="col-md-8">
            						<div>#= data.title #</div>
        						</div>
							</div>
    						</script>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="pictures">Photos</label>
						<div class="col-md-10">
                            <div>
                                <input id="pictures" name="images[]" type="file" kendo-upload k-options="uploadPicturesOptions" />
                            </div>
                            <div class="imagePreview">
                                <div class="row">
                                    <div kendo-list-view id="imageslistView" class="k-widget k-listview" k-data-source="Imageslistsource" k-template='imagelistViewTemplate'></div>
                                    <script type="text/x-kendo-angular-template" id="imagepreviewtemplate">
                                        <div class="col-md-3 imageViewer" ng-mouseover="hover = true" ng-mouseleave="hover = false">
                                            <img ng-src="{{dataItem.ImageURL}}" alt=" {{dataItem.ImageName}}"  />
                                            <button type="button" class="btn btn-primary default" ng-class="{show: hover}"  ng-click="ImageDefault(dataItem.ImageName, dataItem.ImageURL)" >Default</button>
                                            <button type="button" class="btn btn-danger delete" ng-class="{show: hover}" ng-if="dataItem.targetUid != null" ng-click="ImageDelete(dataItem.ImageName, dataItem.targetUid)">Delete</button>
                                        </div>
                                    </script>
                                </div>
                            </div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="Details">Details</label>
						<div class="col-md-10">
							<textarea id="Details" kendo-editor rows="10" cols="30" style="height: 220px"></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="lists">List as</label>
						<div class="col-md-10">
							<input id="lists" kendo-drop-down-list k-data-text-field="'listas'" k-data-value-field="'listId'"
            					k-data-source="bidType" required style="width: 153px" />
						</div>
					</div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="categoryas">Category</label>
                        <div class="col-md-10">
                            <input id="categoryas" kendo-drop-down-list k-data-text-field="'name'" k-data-value-field="'categoryId'"
                                   k-data-source="categoryType" required style="width: 153px" />
                        </div>
                    </div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="startprice">Start
							Price</label>
						<div class="col-md-10">
							<input id="startprice" required placeholder="ex. $10.98" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="expectprice">Expect
							Price</label>
						<div class="col-md-10">
							<input id="expectprice" required placeholder="ex. $10.98" /><span>optional</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="buynowprice">Buy
							Now Price</label>
						<div class="col-md-10">
							<input id="buynowprice" required placeholder="ex. $10.98"/><span>optional</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="datetimepicker">End Day</label>
						<div class="col-md-10">
							<input id="datetimepicker" kendo-date-time-picker required style="width: 153px" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-2 control-label" for="freeshipping">Free
							Shipping</label>
						<div class="col-md-10">
							<input id="freeshipping" kendo-drop-down-list k-data-text-field="'vendors'" k-data-value-field="'listId'"
            					k-data-source="shippingType" required style="width: 153px" />
						</div>
					</div>

					<div class="col-xs-6 col-xs-offset-3 top20 text-center">
						<input type="submit" class="btn btn-primary" value="Submit" />
						<input type="submit" class="btn btn-default" formnovalidate value="Save for later" />
					</div>

				</fieldset>
			</div>
		</div>
	</form>
</div>