<div class="row">
	<div class="col-md-12">
		<h1 class="title">{{product.pname}}</h1>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-5">
		<div class="productImgBox">
            <img id="productImg"
                 ng-src="{{product.defaultImage}}"
                 data-zoom-image="{{toBigImg(product.defaultImage)}}"
                 ng-elevate-zoom
                 k-option='ImageZoomConfig' />
		</div>

		<div id="productGallery" class="img_gallery">
            <slick init-onload="true" data="product.imageLists" infinite="false" slides-to-show="3" slides-to-scroll="1" class="slider multiple-items">
               <div class="imgView thumbnail" ng-repeat="image in product.imageLists">
                    <a href="javascript:void(0);"
                       data-image="{{image}}"
                       data-zoom-image="{{toBigImg(image)}}">
                    <img ng-src="{{image}}" />
                 </a>
               </div>
            </slick>
            <div class="clearfix"></div>
        </div>
	</div>
	<div class="col-md-7">

		<div class="row">
			<div class="col-md-8">
				<div class="well well-lg">
					<div class="list-item">
						<div class="row">
							<div class="col-md-4 text">Item condition:</div>
							<div class="col-md-8">
								<b>{{product.condition}}</b>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="row">
							<div class="col-md-4 text">Time left:</div>
							<div class="col-md-4">
								<b class="timeReminder">7m 34s</b>
							</div>
							<div class="col-md-4">
								[ <a href="#">{{bidnumber}} bids</a>]
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="row">
							<div class="col-md-4 text">Current bid:</div>
							<div class="col-md-4">
								<div>
									<b class="pricecurrency">US {{priceCurrency}}</b>
								</div>
								<div class="list-item">
									<input id="bidTextbox" type="text" kendo-numeric-text-box
										k-step="500" k-min="{{bidPrice}}" k-options="{format: 'c'}"
										k-ng-model="bidPrice" style="width: 100px" />
								</div>
								<div class="list-item small-text">Enter US
									{{bidPriceCurrency}} or more</div>

							</div>
							<div class="col-md-4" ng-if="userId != product.seller.uid">
								<div class="row">
									<div class="col-xs-12">
										<button type="button" class="btn btn-primary"
											ng-click="placebid()">
											<b>Place bid</b>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="row">
							<div class="col-md-4 text">Shipping:</div>
							<div class="col-md-8">
								<b>{{product.shippingCost}}</b> {{product.shippingType}}
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="row">
							<div class="col-md-4 text">Payments:</div>
							<div class="col-md-8">
								<span><img
									src="images/logoPayPal.png" /></span>
								<span><img
									src="images/CC_icons.png" /></span>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="row">
							<div class="col-md-4 text">Returns:</div>
							<div class="col-md-8">14 days money back, you pay return
								shipping</div>
						</div>
					</div>
				</div>
                <div class="col-md-12">
                    <img src="images/dealsweek.png" width="400px" />
                </div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<strong>seller information</strong>
					</div>
					<div class="panel-body">
						<div class="list-item">{{product.seller.username}}</div>
						<div class="list-item">{{product.seller.email}}</div>
					</div>
				</div>

                <div class="panel panel-success bid-history">
                    <div class="panel-heading">
                        <strong>Bid History</strong>
                    </div>
                    <div class="panel-body">
                        <div class="list-item">{{product.seller.username}}</div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul id="detail_tab" class="nav nav-tabs">
			<li class="active"><a href="#description"
				data-toggle="description"><i class="description"></i>Description</a></li>
			<li><a href="#Shipping" data-toggle="tab"><i
					class="Shipping"></i>Shipping and payments</a></li>
		</ul>
		<div id="detail_tab_content" class="tab-content">
			<div class="tab-pane fade in active" id="description">
				<div class="content">
					<!-- content begin -->
                    <div ng-bind-html= "product.description"></div>
					<!-- content end -->
				</div>
			</div>
			<div class="tab-pane fade" id="Shipping">
				<div class="loading"></div>
                <div class="content">
                    <h3>Seller assumes all responsibility for this listing.</h3>
                </div>
			</div>
		</div>

	</div>
</div>


<div class="row top20">
<div class="col-xs-12">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Customer Reviews</div>

		<!-- List group -->
		<ul class="list-group">
			<li class="list-group-item">
				<div class="panel-body">
					<dl>
						<dt>
							The single best value Fire in the entire line. Skip the Fire 7
							and get the Fire 6 instead! <small>October 4, 2014</small>
						</dt>
						<span class="txtsmall gry">By Mike Williams</span>
						<div class="txtsmall mt4 fvavp">
							<span class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Color Name:</span><span
								class="formatValue">Black</span><span class="gl7 gr7 gry">|</span></span><span
								class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Configuration:</span><span
								class="formatValue">With Special Offers</span><span
								class="gl7 gr7 gry">|</span></span><span
								class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Digital Storage Capacity:</span><span
								class="formatValue">8</span><span class="gl7 gr7 gry">|</span></span><span
								class="inlineblock avpOrVine"><span
								class="orange strong avp">Verified Purchase</span></span>
						</div>
						<br />
						<dd>If you read my Fire TV review you know that I am tough on
							Amazon when it comes to their own items. It needs to deliver
							quality for the price point to earn stars from me. Please take
							the time to read my entire review and feel free to ask questions.
							I will do my best to respond to them as I can and update the
							review to reflect those answers and other things I discover along
							the way.</dd>
					</dl>
				</div>
			</li>
			<li class="list-group-item"><div class="panel-body">
					<dl>
						<dt>
							HD Fire 6 is great for the price! <small>October 4, 2014</small>
						</dt>
						<span class="txtsmall gry">By T. A Battaglia</span>
						<div class="txtsmall mt4 fvavp">
							<span class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Color Name:</span><span
								class="formatValue">Black</span><span class="gl7 gr7 gry">|</span></span><span
								class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Configuration:</span><span
								class="formatValue">With Special Offers</span><span
								class="gl7 gr7 gry">|</span></span><span
								class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Digital Storage Capacity:</span><span
								class="formatValue">8</span><span class="gl7 gr7 gry">|</span></span><span
								class="inlineblock avpOrVine"><span
								class="orange strong avp">Verified Purchase</span></span>
						</div>
						<br />
						<dd>Overall... If you want an Amazon tablet, and you want the
							best, go with the HDX series. However, if you want an amazing
							tablet but don't want to spend as much, then these new HD 6 & 7
							series are great! For me and my uses, the HD 6 is the perfect
							fit.</dd>
					</dl>
				</div></li>
			<li class="list-group-item"><div class="panel-body">
					<dl>
						<dt>
							Loved it, <small>October 4, 2014</small>
						</dt>
						<span class="txtsmall gry">By T. A Battaglia</span>
						<div class="txtsmall mt4 fvavp">
							<span class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Color Name:</span><span
								class="formatValue">Black</span><span class="gl7 gr7 gry">|</span></span><span
								class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Configuration:</span><span
								class="formatValue">With Special Offers</span><span
								class="gl7 gr7 gry">|</span></span><span
								class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Digital Storage Capacity:</span><span
								class="formatValue">8</span><span class="gl7 gr7 gry">|</span></span><span
								class="inlineblock avpOrVine"><span
								class="orange strong avp">Verified Purchase</span></span>
						</div>
						<br />
						<dd>I bought this tablet for my sister and she loves it but
							the only thing is your stuck with the same backgrounds and cannot
							change them unfortunately. If she could customize it it would
							definitely be 5 stars because other then that it's amazing.</dd>
					</dl>
				</div></li>
			<li class="list-group-item"><div class="panel-body">
					<dl>
						<dt>
							Great but needs refinement, <small>October 4, 2014</small>
						</dt>
						<span class="txtsmall gry">By T. A Battaglia</span>
						<div class="txtsmall mt4 fvavp">
							<span class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Color Name:</span><span
								class="formatValue">Black</span><span class="gl7 gr7 gry">|</span></span><span
								class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Configuration:</span><span
								class="formatValue">With Special Offers</span><span
								class="gl7 gr7 gry">|</span></span><span
								class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Digital Storage Capacity:</span><span
								class="formatValue">8</span><span class="gl7 gr7 gry">|</span></span><span
								class="inlineblock avpOrVine"><span
								class="orange strong avp">Verified Purchase</span></span>
						</div>
						<br />
						<dd>Of course I love it BUT the place where you put the
							charger into is still a very iffy thing. I can see it going
							kaflooie one of these days. This is what happened to my first
							kindle. Hope you guys can solve this. I get snaky whenever I have
							to plug it into that little hole.</dd>
					</dl>
				</div></li>
			<li class="list-group-item"><div class="panel-body">
					<dl>
						<dt>
							Has a beautiful display, <small>October 4, 2014</small>
						</dt>
						<span class="txtsmall gry">By T. A Battaglia</span>
						<div class="txtsmall mt4 fvavp">
							<span class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Color Name:</span><span
								class="formatValue">Black</span><span class="gl7 gr7 gry">|</span></span><span
								class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Configuration:</span><span
								class="formatValue">With Special Offers</span><span
								class="gl7 gr7 gry">|</span></span><span
								class="inlineblock formatVariation"> <span
								class="gr3 gry formatKey">Digital Storage Capacity:</span><span
								class="formatValue">8</span><span class="gl7 gr7 gry">|</span></span><span
								class="inlineblock avpOrVine"><span
								class="orange strong avp">Verified Purchase</span></span>
						</div>
						<br />
						<dd>Don't pay more for a tablet! This one will exceed all
							your expectations. Just the right size, has a beautiful display-
							and comes in cobalt. :)</dd>
					</dl>
				</div> <br />
				<button type="button" id="myButton" data-loading-text="Loading..."
					class="btn btn-primary" autocomplete="off">Write a
					customer review</button> <script>
  
   $('#myButton').on('click', function () {

    var $btn = $(this).button('loading')
    
    // business logic...

    $btn.button('reset')

    })
  
</script></li>


		</ul>
	</div>
</div>
</div>