<div  class="panel panel-primary ">
    <div class="panel-heading"><font size="4">My Account</font></div>
    <div class="panel-body">

        <div  class="left">
            <table class="table table-striped">
                <caption>Personal Information</caption>
                <tr>
                    <th>Name</th>
                    <th>Balance</th>
                </tr>
                <tr>
                    <td>Jack</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>600</td>
                </tr>
            </table>
        </div>

        <div  class="right">
            <table class="table table-hover">
                <caption>Recent Participation</caption>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>Nuxus</td>
                    <td>500</td>
                    <td>Sale</td>
                </tr>
                <tr>
                    <td>Iphone 6</td>
                    <td>600</td>
                    <td>Sale</td>
                </tr>
            </table>
        </div>
    </div>
</div>