@nice-blue : #5B83AD;
@gray : #ccc;

/******************************* bid page style *******************************/
.title{
	color: @nice-blue;
	margin-bottom: 0px;
}

#productImg{
	border: 1px solid #ddd;
	box-shadow: 2px 2px 5px #eee;
}

.img_gallery{
	margin-top:10px;
}

.img_gallery img{
	width: 96px;
}

.img_gallery a{
	float:left;
}

.nomargin{
	margin-left:0px;
	margin-right:0px;
}

.list-item{
	margin:10px 0; 
}

.list-item .text{
	text-align:right;
}

#quantity{
	width: 50px;
}

.timeReminder{
	color: red;
}

.pricecurrency{
	-webkit-animation: 0.5s fade-in;
	-moz-animation: 0.5s fade-in;
	-o-animation: 0.5s fade-in;
	animation: 0.5s fade-in;
}

@keyframes fade-in {
from { opacity: 0; }
to { opacity: 1; }
}
@-moz-keyframes fade-in {
from { opacity: 0; }
to { opacity: 1; }
}
@-webkit-keyframes fade-in {
from { opacity: 0; }
to { opacity: 1; }
}

.small-text{
	font-size: 10px;
}

.tab-content .content{
	padding:0 20px;
	border: 1px solid #ddd;
	border-width: 1px;
	border-top-color: transparent;
	box-shadow: 2px 2px 5px #eee;
}

/******************************* 404 page style *******************************/
.nopage-pic{
	background: url(../images/404.jpg) no-repeat center;
	width: 376px;
	height: 322px;
	margin: 0 auto;
}

.nopage-text{
	text-align:center;
}

.nopage-text h1{
	font-size: 40px;
	color: #010101;
}

.nopage-button{
	margin-top: 10px;
}